body {
  min-width:400;
}

html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    color: gray;
    text-shadow: white 1px 1px 1px;
    background-color: whitesmoke;
}

img {
  margin:5px;
  border:2px solid black;
  vertical-align:middle;
  width:75px;
  height:75px;
}

#account-form, #note-form, #note-posted {
    display: none;
}

#account-form, #note-form, .postedNoteText {
	-webkit-border-bottom-left-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.160156) 0px 2px 5px;
	background-color: white;
	margin: 8px auto auto;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

form input, textarea {
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.164062) 0px 1px 2px;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	font-size: 1em;
	line-height: 1;
	margin: 0.3em 0 0.5em 0;
	padding: 0.4em;
	width: 388px; /* 400 + left/right 0.4em offset */
}

textarea {
    width: 500px;
    height: 100px;
    font-size: 0.9em;
}

#account-form .inputLabel {
	font-size: 1em;
	font-weight: bold;
}

button.submit {
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid #222;
	outline: 0;
	margin: 0;
	margin-top: 5px;
	padding: 9px 10px 10px;
	background: #222;
	display: inline-block;
	padding: 8px 14px 9px;
	color: #fff;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0 -1px 1px #222;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	position: relative;
	cursor: pointer;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

button.submit.small {
	font-size: .8em;
	padding: 5px;
}

.button::-moz-focus-inner { border: 0; padding: 0; }
.button:hover { background-color: #111; color: #fff; }
.button:active { -webkit-transform: translateY(1px); -moz-transform: translateY(1px); }
.button.blue { background-color: #2daebf; }
.button.blue:hover { background-color: #007d9a; }

.button.green { background-color: #91bd09; }
.button.green:hover { background-color: #749a02; }

#gSignIn {
    background: url(https://catch.com/images/google.ico) no-repeat;
    padding:0 0 0 16px;
    cursor: hand;
}
#createAccount {
    cursor: hand;
}
.bad-up {
    display: none;
    color: red;
    font-weight: bold;
}
